@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$font-path}.woff2') format('woff2'),
    url('#{$font-path}.woff') format('woff'),
    url('#{$font-path}.ttf') format('truetype'),
    url('#{$font-path}.otf') format('opentype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face('Ivy Mode Light', '../assets/fonts/ivy-mode/IvyMode-Light', $font-weight: 300, $font-style: normal);
@include font-face('Aileron Regular', '../assets/fonts/aileron/Aileron-Regular', $font-weight: 400, $font-style: normal);
@include font-face('Aileron Light', '../assets/fonts/aileron/Aileron-Light', $font-weight: 400, $font-style: normal);