:root {
  --surface-color: #E4ECE0;
  --main-color: #213721;
  --border-color: #C8D8C0;
  --hover-color: #496839;
  --pressed-color: #101C10;

  --green-100: #213721;
  --green-80: #3C5E39;
  --green-60: #617C5F;
  --green-40: #899F87;
  --green-20: #C7D1C6;
  --green-0: #F2F6EF;

  --success-color: #56CDAD;
  --error-color: #F04E38;
  --warning-color: #FFB836;
  --blue-color: #26A4FF;
}