<header class="header">
  
    <div class="header__inner">
      <a href="/" class="header__logo">
        <img src="../assets/icons/logo.svg" alt="logo" />
      </a>

      <nav class="header__navbar">
        <ul class="header__nav-list-first">
          <li><a href="#">pages</a></li>
          <li><a href="#">shop</a></li>
          <li><a href="#">about</a></li>
        </ul>

        <ul class="header__nav-list-last">
          <li><a href="#">login</a></li>
          <li><a href="#">cart(0)</a></li>
        </ul>
      </nav>

      <button class="burger-btn">
        <i class="ri-menu-line"></i>
      </button>
    </div>
  
</header>
