<header id="header" class="header">
  
    <div class="header__inner">
      <a href="/" class="header__logo">
        <svg>
          <use xlink:href="/assets/icons/svg-sprite.svg#logo"></use>
        </svg>
      </a>

      <nav class="header__navbar">
        <ul class="header__nav-list-first">
          <li class="dropdown-menu__wrapper" id="dropdown-menu">
              <span>pages</span><span class="chevron-down"><i class="ri-arrow-down-s-line"></i></span>
              <ul id="dropdown-menu-list" class="dropdown-menu__list">
                <li><a href="#">shop</a></li>
                <li><a href="#">Product Details</a></li>
                <li><a href="#">Checkout</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Blog Detail</a></li>
                <li><a href="#">Order Confirmation</a></li>
                <li><a href="#">Licenses</a></li>
                <li><a href="#">Contacts Us</a></li>
                <li><a href="#">404</a></li>
                <li><a href="#">401</a></li>
              </ul>
          </li>
          <li><a href="#">shop</a></li>
          <li><a href="#">about</a></li>
        </ul>

        <ul class="header__nav-list-last">
          <li><a href="#">cart(0)</a></li>
        </ul>
      </nav>
      
      <nav class="mobile-menu" id="nav-menu">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">pages</a></li>
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">shop</a></li>
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">about</a></li>
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="#">cart(0)</a></li>
        </ul>
        
        <button class="primary-btn primary-btn--outlined">Log in</button>
      </nav>

      <button class="burger-btn" id="nav-trigger-btn">
        <i class="ri-menu-line"></i>
      </button>
    </div>
  
</header>
