<section class="hero">
  <div class="hero__content slider-wrapper">
    <div class="container">
      <div class="hero__inner slide active">
        <div class="hero__image-wrapper">
          <div class="hero__image">
            <img src="/assets/images/hero/001.png" alt="hero-image" />
          </div>
        </div>
        <div class="hero__text-wrapper">
          <h1 class="hero__title">
            <span class="first"><span>Let nature take</span></span>
            <span class="second"><span>care of your body</span></span>
            <span class="third"><span>and soul</span></span>
          </h1>
          
          <div class="hero__btn">
            <button class=" primary-btn">
              <span>Shop now</span>
              <svg class="icon icon-arrow icon-arrow--dark">
                <use xlink:href="/assets/icons/svg-sprite.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="hero__inner slide">
        <div class="hero__image-wrapper">
          <div class="hero__image">
            <img src="/assets/images/hero/002.png" alt="hero-image" />
          </div>
        </div>
        <div class="hero__text-wrapper">
          <h1 class="hero__title">
            <span class="first"><span>Sustain</span></span>
            <span class="second"><span>your beauty</span></span>
            <span class="third"><span>naturally</span></span>
          </h1>
          
          <div class="hero__btn">
            <button class=" primary-btn">
              <span>Shop now</span>
              <svg class="icon icon-arrow icon-arrow--dark">
                <use xlink:href="/assets/icons/svg-sprite.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="hero__inner slide">
        <div class="hero__image-wrapper">
          <div class="hero__image">
            <img src="/assets/images/hero/003.png" alt="hero-image" />
          </div>
        </div>
        <div class="hero__text-wrapper">
          <h1 class="hero__title">
            <span class="first"><span>Eco elegance</span></span>
            <span class="second"><span>for skin</span></span>
            <span class="third"><span>and soul</span></span>
          </h1>
          
          <div class="hero__btn">
            <button class=" primary-btn">
              <span>Shop now</span>
              <svg class="icon icon-arrow icon-arrow--dark">
                <use xlink:href="/assets/icons/svg-sprite.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="slider__controls">
      <button class="controls__right prev">
        <svg class="icon icon-arrow icon-arrow--light flip-horizontal">
          <use xlink:href="/assets/icons/svg-sprite.svg#arrow"></use>
        </svg>
      </button>
      
      <div class="slider__dots">
      </div>
      
      <button class="controls__left next">
        <svg class="icon icon-arrow icon-arrow--light">
          <use xlink:href="/assets/icons/svg-sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="hero__bg-wrapper">
    <div class="hero__left"></div>
    <div class="hero__right">
      <div class="hero__bg-img">
        <img src="/assets/images/hero/hero-bg.jpg" alt="hero" />
      </div>
    </div>
  </div>
</section>
