.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 1000;
  background: transparent;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    margin: 0 auto;
    padding: 16px;

    @media screen and (min-width: 728px) {
      padding: 25px;
    }
    @media screen and (min-width: 1024px) {
      padding: 20px 80px;
    }
  }

  &__logo {
    padding-top: 10px;
  }

  &__navbar {
    display: none;

    @media screen and (min-width: 1280px) {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 80px;

      a {
        text-transform: uppercase;
        color: var(--green-0);
      }
    }
  }

  &__nav-list-first {
    display: flex;
    align-items: center;
    column-gap: 48px;
  }
  &__nav-list-last {
    display: flex;
    align-items: center;
    column-gap: 48px;
  }
}
