.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 10000;
  background: transparent;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    margin: 0 auto;
    padding: 16px;

    @media screen and (min-width: 728px) {
      padding: 25px;
    }
    @media screen and (min-width: 1024px) {
      padding: 20px 80px;
    }
  }

  &__logo {
    width: 112px;
    height: 36px;
    --icon-fill: var(--green-0);

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;

      path {
        fill: var(--icon-fill, var(--green-0));
      }
    }
  }

  &__navbar {
    display: none;

    @media screen and (min-width: 1280px) {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 80px;

      a,
      span, label {
        text-transform: uppercase;
        color: var(--green-0);
        cursor: pointer;
      }
    }
  }

  &__nav-list-first {
    display: flex;
    align-items: center;
    column-gap: 48px;

    span {
      cursor: pointer;
    }

    .chevron-down {
      padding-left: 8px;
    }
  }
  &__nav-list-last {
    display: flex;
    align-items: center;
    column-gap: 48px;
  }

  &.header-light {
    background-color: var(--green-0);
    border-bottom: 1px solid var(--green-40);

    .header__logo {
      --icon-fill: var(--green-40);
    }
  }
}

.mobile-menu {
  width: 100%;

  height: 0;
  padding: 0;
  background: var(--green-0);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 1000;

  transition: all 0.3s;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  &__link {
    text-transform: capitalize;
    font-family: "Ivy Mode Light", sans-serif;
    font-size: 2.25rem;
  }

  &.nav-is-open {
    height: calc(100dvh - 90px);
    padding: 20px;

    @media screen and (min-width: 728px) {
      padding: 40px;
    }
  }
}

.dropdown-menu {

  transition: all 0.3s ease-in-out;

  &__wrapper {
    position: relative;

    input[type="checkbox"]{
      opacity: 0;
      pointer-events: none;
    }
  }



  &__list {
    //height: 0;
    //padding: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    background-color: var(--green-0);
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -999;
    margin-top: -20px;

    overflow: hidden;
    transition: 0.5s ease;
    transition-property: opacity, height, margin-top;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 40px;

    a {
      text-transform: capitalize;
      white-space: nowrap;
      color: var(--green-80);
    }

    &.open {
      height: auto;
      opacity: 1;
      padding: 30px;
      margin-top: 0;
      //transform: translateX(-8px);
    }
  }


}

//.chevron-down {
//  transition: transform 0.5s ease;
//  transform: rotate(180deg);
//}