.hero {
  height: 100dvh;
  min-height: 100dvh;

  position: relative;

  @media screen and (min-width: 1024px) {
    height: 100vh;
    min-height: 100vh;
  }

  &__wrapper {
    position: relative;
  }

  &__slide {
    width: 100%;
    height: 100dvh;
    min-height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    position: relative;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__text-wrapper {
    width: 100%;
    order: 1;

    @media screen and (min-width: 1024px) {
      order: 2;
      width: 55%;
    }
    @media screen and (min-width: 1280px) {
      width: 60%;
    }
  }

  &__image-wrapper {
    order: 2;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
      order: 1;
      width: 45%;
    }
    @media screen and (min-width: 1366px) {
      width: 40%;
    }
  }

  &__image {
    position: absolute;
    max-width: 50%;
    height: 250px;
    top: 60dvh;
    transform: translateX(-50%);
    animation: fly 4s ease-in-out infinite;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media screen and (min-width: 728px) {
      width: 250px;
      height: 400px;
    }

    @media screen and (min-width: 1024px) {
      width: 250px;
      height: 550px;
      top: 55%;
      left: 12%;
    }

    @media screen and (min-width: 1537px) {
      width: 250px;
      height: 700px;
      max-width: 100%;

      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }
  }

  &__title {
    color: var(--green-0);
    margin-top: 90px;

    @media screen and (min-width: 728px) {
      margin-top: 150px;
    }
    @media screen and (min-width: 1024px) {
      margin-top: 0;
      margin-bottom: 90px;
    }

    .first-title-line,
    .second-title-line,
    .third-title-line {
      display: inline-block;
      width: 100%;
      height: 48px;
      position: relative;
      overflow: hidden;

      span {
        width: 100%;

        position: absolute;
        top: 0;
        text-align: center;
      }

      @media screen and (min-width: 728px) {
        height: 58px;
      }
      @media screen and (min-width: 1024px) {
        height: 78px;

        span {
          position: absolute;
          top: 0;
          text-align: unset;
        }
      }

      @media screen and (min-width: 1280px) {
        height: 90px;
      }

      @media screen and (min-width: 1537px) {
        width: 805px;
        height: 119px;
        position: relative;
        overflow: hidden;
      }
    }
  }

  &__btn {
    width: 100%;
    position: absolute;
    bottom: 10%;

    @media screen and (min-width: 728px) {
      button {
        margin: 0 auto;
      }
    }

    @media screen and (min-width: 1024px) {
      width: unset;
      bottom: 20%;
    }
  }
}

// ****** Slider controls *******************************
.hero {
  &__slider-controls {
    height: 100dvh;

    position: absolute;
    top: 50%;
    bottom: 50%;
    z-index: 1000;
    transform: translateY(-50%);
    left: 7%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;

    @media screen and (min-width: 1024px) {
      left: 4%;
    }
    @media screen and (min-width: 1601px) {
      left: -7%;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    &:after,
    &:before {
      content: unset;
    }
  }

  &__dots {
    position: static !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
  }

  &__dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: var(--green-0);
    transform: rotate(45deg);
    border: 4px solid var(--green-0);
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--green-40);
      border: 4px solid var(--green-40);

      @media screen and (min-width: 1024px) {
        background-color: var(--green-100);
        border: 4px solid var(--green-100);
      }
    }
  }

  &__dot-active {
    background-color: var(--green-40);
    border: 4px solid var(--green-40);

    @media screen and (min-width: 1024px) {
      background-color: var(--green-100);
      border: 4px solid var(--green-100);
    }
  }
}

// ****** Background *****************************
.hero {
  &__bg-wrapper {
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__bg-left {
    width: 0;
    height: 0;
    max-height: 100vh;
    background-color: var(--green-40);

    @media screen and (min-width: 1024px) {
      width: 50%;
      height: 100%;

      position: absolute;
    }
  }

  &__bg-right {
    width: 100%;
    height: 100%;
    min-height: 100dvh;

    @media screen and (min-width: 1024px) {
      width: 50%;

      position: absolute;
      left: 50%;
    }
  }

  &__bg-img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
