.hero {
  height: 100vh;
  min-height: 100vh;

  position: relative;

  @media screen and (min-width: 728px) {
    height: 100vh;
    min-height: 100vh;
  }

  &__bg-wrapper {
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__left {
    width: 0;
    height: 0;
    max-height: 100vh;
    background-color: var(--green-40);

    @media screen and (min-width: 728px) {
      width: 50%;
      height: 100%;

      position: absolute;
    }
  }

  &__right {
    width: 100%;
    height: 100%;
    min-height: 100vh;

    @media screen and (min-width: 728px) {
      width: 50%;

      position: absolute;
      left: 50%;
    }
  }

  &__bg-img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
  }

  &__inner {
    width: 100%;
    height: 100vh;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    position: relative;

    @media screen and (min-width: 728px) {
      flex-direction: row;
    }
  }

  &__image-wrapper {
    order: 2;
    width: 100%;

    @media screen and (min-width: 728px) {
      order: 1;
      width: 50%;
    }
  }

  &__text-wrapper {
    width: 100%;
    order: 1;

    @media screen and (min-width: 728px) {
      order: 2;
      width: 100%;
    }
  }

  &__image {
    width: 150px;
    position: absolute;
    height: 250px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }

    @media screen and (min-width: 728px) {
      height: 700px;
      max-width: 100%;

      position: absolute;
      top: 50%;
      left: unset;
      transform: translateY(-50%);
      animation: fly 4s ease-in-out infinite;
      -webkit-animation: fly 4s ease-in-out infinite; /* Safari and older Chrome browsers */
      -moz-animation: fly 4s ease-in-out infinite; /* Older Firefox browsers */
      -o-animation: fly 4s ease-in-out infinite; /* Older Opera browsers */
    }
  }

  &__title {
    margin-top: 90px;
    color: var(--green-0);

    @media screen and (min-width: 728px) {
      margin-top: 0;
      margin-bottom: 90px;
    }

    .first,
    .second,
    .third {
      display: inline-block;
      width: 100%;
      height: 48px;
      position: relative;
      overflow: hidden;

      span {
        width: 100%;

        position: absolute;
        top: 0;
        text-align: center;
      }

      @media screen and (min-width: 728px) {
        width: 805px;
        height: 119px;
        position: relative;
        overflow: hidden;

        span {
          position: absolute;
          top: 0;
          text-align: unset;
        }
      }
    }
  }

  &__btn {
    width: 100%;
    position: absolute;
    bottom: 10%;

    @media screen and (min-width: 728px) {
      width: unset;
      bottom: 20%;
    }
  }
}

.slider {
  &__controls {
    position: absolute;
    top: 45%;
    right: 10%;

    display: flex;
    flex-direction: row;
    column-gap: 24px;

    @media screen and (min-width: 728px) {
      bottom: unset;
      top: 50%;
      left: -10%;
      transform: translateY(-50%);

      flex-direction: column;
      row-gap: 24px;
    }
  }

  &__dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;

    @media screen and (min-width: 728px) {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: var(--green-0);
    transform: rotate(45deg);
    border: 4px solid var(--green-0);
    cursor: pointer;

    &:hover {
      background-color: var(--green-40);
      border: 4px solid var(--green-40);

      @media screen and (min-width: 728px) {
        background-color: var(--green-100);
        border: 4px solid var(--green-100);
      }
    }

    &.active {
      background-color: var(--green-40);
      border: 4px solid var(--green-40);

      @media screen and (min-width: 728px) {
        background-color: var(--green-100);
        border: 4px solid var(--green-100);
      }
    }
  }
}

.controls__left, .controls__right {
  display: none;

  @media screen and (min-width: 728px) {
    display: block;
  }
}
